body {
  background-color: #b7d9f5;
  color: rgb(44, 44, 80) ;
}



h2 {
  color: rgb(92, 92, 218);

}
.article1 { grid-area: article1; }
.article2 { grid-area: article2; }
.article3 { grid-area: article3; }
.image { grid-area: image; }
.inputFields {grid-area: inputF}
.footer { grid-area: foot}

.grid-container {
  display: grid;
  grid-template-areas:
  'article1 article1 article1 article1 article1 article1'
    'image image image article2 article2 article2'
    'image image image article3 article3 article3'
    'inputF inputF inputF inputF inputF inputF'
    'foot foot foot foot foot foot';

  gap: 10px;
  background-color: #b7d9f5;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(154, 207, 240, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.image {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #6c68da;
    text-align: center;
    color:rgb(233, 205, 168);
    border-top: 2px solid black;
  }

fieldset  {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

fieldset label {
    margin-top: 5px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
.article1 { grid-area: article1; }
.article2 { grid-area: article2; }
.article3 { grid-area: article3; }
.image { grid-area: image; }
.inputFields {grid-area: inputF}
.footer { grid-area: foot}

.grid-container {
  display: grid;
  grid-template-areas:
  'article1 article1 article1 '
    'image image image '
    'article2 article2 article2'
    'article3 article3 article3'
    'inputF inputF inputF'
    'foot foot foot ';

  gap: 10px;
  background-color: #b7d9f5;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(154, 207, 240, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
}

button:hover {
  background-color: rgb(81, 129, 129);
  color: antiquewhite;
}

.checkboxfield {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article > h2 {
  margin-top: 0px;
  padding-top: 0rem;
}

input:focus {
  background-color: bisque;
}

form p {
  padding-left: .5rem;
  
}